@import '../../../main.common.scss'; 

.Dropdown{
    border-bottom: 3px solid $select-border;
    margin-bottom: -1px;
    cursor: pointer;
    position: relative;
}

.Dropdown-Header{
    margin-bottom: 15px;
}