<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <title>Список файлов в корне репозитория</title>
    <link rel="stylesheet" type="text/css" media="(max-device-width:360px)" href="../dist/mobile.css" />
    <link rel="stylesheet" type="text/css" media="(min-device-width:360px)" href="../dist/desktop.css" />
</head>

<body>
    <div class="Layout">
        <div class="Header Section_space-h_xxl Flex Flex_state_End">
            <div class="Header-Logo Header-Item"></div>
            <div class="Flex Header-Item">
                <div class="Dropdown">
                    <div class="Menu">
                        <div class="Text_size_ss">
                            <span class="Text_state_bold">Repository</span> <span>Arc</span>
                        </div>
                    </div>
                </div>
                <div class="Dropdowm-Arrow Dropdowm-Arrow_down Text_state_pointer"></div>
            </div>
        </div>
        <div class="Section_border_top Section_space-h_xxl">
            <div class="Section_space-bottom_xxs Section_space-top_xs Section_border_bottom">
                <div class="Text_size_sm Text_state_bold">arcadia</div>
            </div>
            <div class="Section_space-bottom_xxs Section_space-top_xs">
                <div class="Text_size_l">
                    <span class="Text_state_bold">arcadia</span>
                    <span class="Text_color_gray Text_state_pointer Flex_state_inline">
                        trunk
                        <div class="Dropdowm-Arrow Dropdowm-Arrow_down Text_state_pointer Flex-Item_senter"></div>
                    </span>

                </div>
            </div>
            <div>
                <div class="Text_size_sm Section_space-bottom_xxxs">
                    Last commit <span class="Text_state_link Text_state_pointer">c3621f</span> on
                    <span class="Text_state_link">20 Oct 2017, 12:24</span> by
                    <span class="Text_state_author">robot-search-release</span>
                </div>
            </div>

            <div class="Section_space-top_xs Section_border_bottom Flex Text_state_bold">
                <div class="Tab Dropdown Tab-Title_active Text_size_mm">files</div>
                <div class="Tab Text_color_gray Tab-Title Text_size_mm">Branches</div>
            </div>
            <div class="Table Text_size_sm">
                <div class="Section_border_bottom Table-Header">
                    <div class="Table-Cell">Name</div>
                    <div class="Table-Cell">Last commit</div>
                    <div class="Table-Cell">Commit message</div>
                    <div class="Table-Cell">Commiter</div>
                    <div class="Table-Cell">Updated</div>
                </div>
                <div class="Table-Row">
                    <div class="Table-Cell Table-Order Icon-Folder Cell-Folder">api</div>
                    <div class="Table-Cell Text_state_link Text_state_pointer">f67s5e</div>
                    <div class="Table-Cell Table-Order Cell-Message">[vcs] move http to arc</div>
                    <div class="Table-Cell Table-Commiter">commiter</div>
                    <div class="Table-Cell">4 hours ago</div>
                </div>
                <div class="Table-Row">
                    <div class="Table-Cell Table-Order Icon-Folder Cell-Folder">api</div>
                    <div class="Table-Cell Text_state_link Text_state_pointer">f67s5e</div>
                    <div class="Table-Cell Table-Order Cell-Message">[vcs] move http to arc</div>
                    <div class="Table-Cell Table-Commiter">commiter</div>
                    <div class="Table-Cell">4 hours ago</div>
                </div>
                <div class="Table-Row">
                    <div class="Table-Cell Table-Order Icon-Folder Cell-Folder">api</div>
                    <div class="Table-Cell Text_state_link Text_state_pointer">f67s5e</div>
                    <div class="Table-Cell Table-Order Cell-Message">[vcs] move http to arc</div>
                    <div class="Table-Cell Table-Commiter">commiter</div>
                    <div class="Table-Cell">4 hours ago</div>
                </div>
                <div class="Table-Row">
                    <div class="Table-Cell Table-Order Icon-Folder Cell-Folder">api</div>
                    <div class="Table-Cell Text_state_link Text_state_pointer">f67s5e</div>
                    <div class="Table-Cell Table-Order Cell-Message">[vcs] move http to arc</div>
                    <div class="Table-Cell Table-Commiter">commiter</div>
                    <div class="Table-Cell">4 hours ago</div>
                </div>
                <div class="Table-Row">
                    <div class="Table-Cell Table-Order Icon-Folder Cell-Folder">api</div>
                    <div class="Table-Cell Text_state_link Text_state_pointer">f67s5e</div>
                    <div class="Table-Cell Table-Order Cell-Message">[vcs] move http to arc</div>
                    <div class="Table-Cell Table-Commiter">commiter</div>
                    <div class="Table-Cell">4 hours ago</div>
                </div>
            </div>
        </div>


        <div class="Footer Section_border_top Footer_space-h_l Footer_space-top_m Footer_space-bottom_s">
            <div class="Footer-Text Footer-Address">Trade secrets of Yandex LLC. 16. Lev Tolstoy Str., Moscow Russia,
                119021</div>
            <div class="Footer-Text">© 2007-2019 <span class="Text_state_link Text_state_pointer">Yandex</span></div>
        </div>
    </div>
</body>

</html>