<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <title>Просмотр истории изменений файла</title>
    <link rel="stylesheet" type="text/css" media="(max-device-width:360px)" href="../dist/mobile.css" />
    <link rel="stylesheet" type="text/css" media="(min-device-width:360px)" href="../dist/desktop.css" />
</head>

<body>
    <div class="Layout">
        <div class="Header Section_space-h_xxl Flex Flex_state_End">
            <div class="Header-Logo Header-Item"></div>
            <div class="Flex Header-Item">
                <div class="Dropdown">
                    <div class="Menu">
                        <div class="Text_size_ss">
                            <span class="Text_state_bold">Repository</span> <span>Arc</span>
                        </div>
                    </div>
                </div>
                <div class="Dropdowm-Arrow Dropdowm-Arrow_down Text_state_pointer"></div>
            </div>
        </div>
        <div class="Section_border_top Section_space-h_xxl">
            <div class="Section_space-bottom_xxs Section_space-top_xs Section_border_bottom Flex">
                <div class="Text_size_sm Text_color_gray Route">arcadia</div>
                <div class="Text_size_sm Text_color_gray Route">trunc</div>
                <div class="Text_size_sm Text_state_bold Route">arcanum</div>
            </div>
            <div class="Section_space-bottom_xxs Section_space-top_xs">
                <div class="Text_size_l">
                    <span class="Text_state_bold">arcadia</span>
                    <span class="Text_color_gray Text_state_pointer Flex_state_inline">
                        trunk
                        <div class="Dropdowm-Arrow Dropdowm-Arrow_down Text_state_pointer Flex-Item_senter"></div>
                    </span>

                </div>
            </div>
            <div>
                <div class="Text_size_sm Section_space-bottom_xxxs">
                    Last commit <span class="Text_state_link Text_state_pointer">c3621f</span> on
                    <span class="Text_state_link">20 Oct 2017, 12:24</span> by
                    <span class="Text_state_author">robot-search-release</span>
                </div>
            </div>

            <div class="Section_space-top_xs Section_border_bottom Flex Text_state_bold">
                <div class="Tab Text_color_gray Tab-Title Text_size_mm">details</div>
                <div class="Tab Dropdown Tab-Title_active Text_size_mm">history</div>
            </div>
            <div class="History">
                <div class="Text_size_mm Histor-Title Text_color_gray Text_state_bold">Today</div>
                <div class="History-Content">
                    <div class="History-Chain">
                        <div class="History-Icon"></div>
                        <div class="History-Line"></div>
                    </div>
                    <div class="History-Details">
                        <div class="Text_size_ss Text_state_bold">Support new distbuild protocol</div>
                        <div class="Text_state_link Text_size_xs History-Commit">8erhh3</div>
                        <div class="Code-Icon"></div>
                        <div class="Text_size_xs History-Message">Не очень качественно написаны некоторые функции.
                            Предлагаю исправить это недорозумение.
                        </div>
                        <div class="History-Data Text_color_dark-gray Text_size_xs">
                            <span class="Text_state_link">8erhh3</span> by
                            <span class="Text_state_author">robot-search-release</span>,
                            4s ago
                        </div>
                    </div>
                </div>
                <div class="History-Content">
                    <div class="History-Chain">
                        <div class="History-Icon"></div>
                        <div class="History-Line"></div>
                    </div>
                    <div class="History-Details">
                        <div class="Text_size_ss Text_state_bold">Support new distbuild protocol</div>
                        <div class="Text_state_link Text_size_xs History-Commit">8erhh3</div>
                        <div class="Code-Icon"></div>
                        <div class="Text_size_xs History-Message">Не очень качественно написаны некоторые функции.
                            Предлагаю исправить это недорозумение.
                        </div>
                        <div class="History-Data Text_color_dark-gray Text_size_xs">
                            <span class="Text_state_link">8erhh3</span> by
                            <span class="Text_state_author">robot-search-release</span>,
                            4s ago
                        </div>
                    </div>
                </div>
                <div class="History-Content">
                    <div class="History-Chain">
                        <div class="History-Icon"></div>
                        <div class="History-Line"></div>
                    </div>
                    <div class="History-Details">
                        <div class="Text_size_ss Text_state_bold">Support new distbuild protocol</div>
                        <div class="Text_state_link Text_size_xs History-Commit">8erhh3</div>
                        <div class="Code-Icon"></div>
                        <div class="Text_size_xs History-Message">Не очень качественно написаны некоторые функции.
                            Предлагаю исправить это недорозумение.
                        </div>
                        <div class="History-Data Text_color_dark-gray Text_size_xs">
                            <span class="Text_state_link">8erhh3</span> by
                            <span class="Text_state_author">robot-search-release</span>,
                            4s ago
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="Footer Section_border_top Footer_space-h_l Footer_space-top_m Footer_space-bottom_s">
            <div class="Footer-Text Footer-Address">Trade secrets of Yandex LLC. 16. Lev Tolstoy Str., Moscow
                Russia, 119021</div>
            <div class="Footer-Text">© 2007-2019 <span class="Text_state_link Text_state_pointer">Yandex</span>
            </div>
        </div>
    </div>
</body>

</html>