<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">
    <title>Страница коммита</title>
    <link rel="stylesheet" type="text/css" media="(max-device-width:360px)" href="../dist/mobile.css" />
    <link rel="stylesheet" type="text/css" media="(min-device-width:360px)" href="../dist/desktop.css" />
</head>

<body>
    <div class="Layout">
        <div class="Header Section_space-h_xxl Flex Flex_state_End">
            <div class="Header-Logo Header-Item"></div>
            <div class="Flex Header-Item">
                <div class="Dropdown">
                    <div class="Menu">
                        <div class="Text_size_ss">
                            <span class="Text_state_bold">Repository</span> <span>Arc</span>
                        </div>
                    </div>
                </div>
                <div class="Dropdowm-Arrow Dropdowm-Arrow_down Text_state_pointer"></div>
            </div>
        </div>
        <div class="Section_border_top Section_space-h_xxl">
            <div class="Section_space-bottom_xxs Section_space-top_xs">
                <div class="Text_size_xl Text_state_bold">
                    DEVTOOLS-4599: Add option to add extra whitespace between projects</div>
            </div>
            <div>
                <div class="Text_size_sm Section_space-bottom_xxxs">
                    <span class="Text_state_link Text_state_pointer">c3621f</span> by
                    <span class="Text_state_author">robot-search-release</span>, 4s ago
                </div>
            </div>
            <div class="Preview Commit">
                <div class="Commit-Header Flex-between Flex Flex_state_center">
                    <div class="Text_size_sm Flex Flex_state_center Commit-Header-Row">
                        <span class="Text_state_bold Commit-M">M</span>
                        <div class="Preview_Icon"></div>
                        <span>/trunk/arcadia/devto</span>
                    </div>
                    <div class="Text_size_sm Flex Flex_state_center Commit-Header-Clone">
                        <span><span class="Text_state_bold Text_color_insert">+100</span>
                            <span class="Text_state_bold Text_color_delete">-81</span></span>
                        <div class="Commit-Clone"></div>
                    </div>
                </div>
                <div class="Commit-Content Text_size_xsm">
                    <div class="Commit-Panel Text_size_xsm">
                        <div class="Text_color_light">@@ -270, 160 +270, 151 @@ </div>
                        <div class="Text_state_center Commil-Scroll">
                            <span class="Text_color_light">
                                Below 20 lines</span>

                            <span class="">
                                Above 20 lines</span>
                        </div>
                        <div></div>
                    </div>
                    <ol class="Text_color_light Commit-Diff">
                        <span>
                            <li value="1"></li>
                        </span>
                        <span>
                            <li value="1"></li>
                        </span>
                        <span class="Commit-Plus">
                            <li value="2"></li>
                        </span>
                        <span class="Commit-Plus">
                            <li value="2"><span class="Text_state_link">import</span> os</li>
                            <li><span class="Text_state_link">import</span> sys</li>
                            <li><span class="Text_state_link">import</span> platform</li>
                            <li><span class="Text_state_link">import</span> json</li>
                            <li><span class="Text_state_link">import</span> json</li>
                        </span>
                        <span class="Commit-Minus">
                            <li value="3" class="Commit-Minus"></li>
                        </span>
                        <span class="Commit-Minus">
                            <li value="7"></li>
                            <li><span class="Text_state_link">import</span> platform</li>
                           
                        </span>
                    </ol>
                </div>
            </div>
        </div>
        <div class="Footer Section_border_top Footer_space-h_l Footer_space-top_m Footer_space-bottom_s">
            <div class="Footer-Text Footer-Address">Trade secrets of Yandex LLC. 16. Lev Tolstoy Str., Moscow
                Russia, 119021</div>
            <div class="Footer-Text">© 2007-2019 <span class="Text_state_link Text_state_pointer">Yandex</span>
            </div>
        </div>
    </div>
</body>

</html>