.Dropdowm-Arrow{
    margin-left: 6px;
    height: 12px;
    width: 12px;
}

.Dropdowm-Arrow_up{
    
}

.Dropdowm-Arrow_down{
    background: url('../img/arrow-down.svg') 100% 100% no-repeat;
    background-position: center;
}